<div class="container">
    <form #f="ngForm">
        <div class="ui-g">
            
            <div class="ui-g-12">
                <h1>{{novoEditar ? 'Editar' : 'Novo'}} Patrocinador</h1>
            </div>

            <div class="ui-g-6 ui-fluid">
                <label>Razão Social</label>
                <input pInputText type="text" name="razaoSocial" ngModel #razaoSocial="ngModel" required minlength="5" [(ngModel)]="patrocinador.razaosocial" >
            
                <app-message [control]="razaoSocial" error="required" text="Informe uma Razão Social"></app-message>
                <app-message [control]="razaoSocial" error="minlength" text="Mínimo de 5 caracteres"></app-message>

            </div>
            
            <div class="ui-g-6 ui-fluid">
                <label>Nome Abreviado</label>
                <input pInputText type="text" name="nomeAbreviado" ngModel #nomeAbreviado="ngModel" required minlength="2" maxlength="10" [(ngModel)]="patrocinador.nomeabreviado" >
                
                <app-message [control]="nomeAbreviado" error="required" text="Informe um nome abreviado"></app-message>
                <app-message [control]="nomeAbreviado" error="minlength" text="Mínimo de 2 caracteres"></app-message>
            
            </div>
            
            <div class="ui-g-6 ui-fluid">
                <label>Descontado em Folha</label>
                <input pInputText type="text" placeholder="000%" name="descontadoEmFolha" ngModel #descontadoEmFolha="ngModel" required [(ngModel)]="patrocinador.descontadoemfolha" >
            
                <app-message [control]="descontadoEmFolha" error="required" text="Informe qual a porcentagem de desconto em folha"></app-message>
            
            </div>

            <div class="ui-g-12">
                <div class="buttons">
                    <button pButton type="button" label="Voltar" routerLink="/patrocinadores" ></button>
                    <button pButton type="submit" label="Salvar" [disabled]="f.invalid" (click)="salvar(f)" ></button>
                </div>
            </div>

        </div>
    </form>
</div>